body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Style for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: black;
    padding: 10px 20px;
}

/* Style for the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

/* Style for the links */
.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container,
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
}

button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}